[{:class origami.filters.Resize :factor 1.5}
 {:class origami.filters.ClojureFilter
  :fn "(fn[mat] (org.opencv.imgproc.Imgproc/applyColorMap mat mat 10) mat)"}
 {:class origami.filters.Annotate
  :text "I am hungry. Time for lunch"
  :point "50,50"
  :fontSize 3
  :thickness 3
  :color "90,0,0"}
 ]